{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/calon.css' %}">
	<title>Pendaftaran Beasiswa</title>
</head>
<body>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-5">
          <div class="card" style="background-color: #F4FFFD; border: none;">
            <div class="card-body">
<!--             <form action="action_page.php" style="margin-left: 350px; margin-right: 450px; margin-top: 30px;">
 -->            <!--   <div class="container">
             -->    <h1>Form Pendaftaran Beasiswa</h1>
                <p>Please fill in this form to apply a Beasiswa.</p>
                <label><span style="color: red">*Required</span></div></form></label>
                <label>Kode Beasiswa :</label>
                  <div class="col-md-10">
                                
                      <select name="cars" class="dropbtn">
                      <div class="dropdown-content">

                      {% for beasiswa in arrBeasiswaAktif %}

                      <option value={{beasiswa.0}}>{{beasiswa.0}} - {{beasiswa.1}} (tgl buka: {{beasiswa.2}} )</option>
                      {% endfor %}

                  </div>
                  </select>
             
                  </div>   

                <label for="psw"><b>NPM</b></label>
                <button type="submit" class="signupbtn btn-primary">{{npm}}</button>


                <label for="psw-repeat"><b>Email</b></label>
                <button type="submit" class="signupbtn btn-primary">{{email}}</button>

                <label for="identitas"><b>Indeks Prestasi Semester<span style="color: red"> *</span></b></label>
                <input type="text" placeholder="Enter IPS" name="ips" required>

                <div class="clearfix">
                  <button type="submit" class="signupbtn btn-primary">SUBMIT</button>
                </div>


            </form>
            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>  
</body>
{% endblock %}
