{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/registermhs.css' %}">
	<title>Register Mahasiswa</title>
</head>
<body>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-5">
          <div class="card" style="background-color: #F4FFFD; border: none;">
            <div class="card-body">
                <h1>Register as Mahasiswa</h1>
                <p>Please fill in this form to create an account as Mahasiswa.</p>
                <span style="color: red">*Required</span>
                <hr>
                
                <form method="POST" action="{% url 'registermahasiswa:register-mhs' %}">

                    <label for="{{ form_regmhs.username.id_for_label }}">{{form_regmhs.username.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.username}}

                    <label for="{{ form_regmhs.password.id_for_label }}">{{form_regmhs.password.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.password}}

                    <label for="{{ form_regmhs.npm.id_for_label }}">{{form_regmhs.npm.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.npm}}

                    <label for="{{ form_regmhs.email.id_for_label }}">{{form_regmhs.email.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.email}}

                    <label for="{{ form_regmhs.nama.id_for_label }}">{{form_regmhs.nama.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.nama}}

                    <label for="{{ form_regmhs.no_telp.id_for_label }}">{{form_regmhs.no_telp.label}}</label>
                      {{form_regmhs.no_telp}}

                    <label for="{{ form_regmhs.alamat_tinggal.id_for_label }}">{{form_regmhs.alamat_tinggal.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.alamat_tinggal}}

                    <label for="{{ form_regmhs.alamat_domisili.id_for_label }}">{{form_regmhs.alamat_domisili.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.alamat_domisili}}

                    <label for="{{ form_regmhs.nama_bank.id_for_label }}">{{form_regmhs.nama_bank.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.nama_bank}}

                    <label for="{{ form_regmhs.no_rekening.id_for_label }}">{{form_regmhs.no_rekening.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.no_rekening}}

                    <label for="{{ form_regmhs.nama_pemilik.id_for_label }}">{{form_regmhs.nama_pemilik.label}}<span style="color:red">*</span></label>
                      {{form_regmhs.nama_pemilik}}


                    <div class="clearfix">
                      <button type="submit" class="signupbtn btn-primary">CREATE ACCOUNT</button>
                    </div>
              
                    <div class="container" style="margin-bottom: 50px;" >
                      <span style="float: right;">Already have an account?
                    	<a class="btn navbar-btn ml-2 text-white btn-secondary" href='/login/'>
                    	<i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Login</a>
                      </span>
                    </div>

                </form>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
              

</body>
</html>
{% endblock %}
