{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registersb.css' %}">
    <title>Pendaftaran Tambah Beasiswa Dari Paket</title>
</head>

<form action="action_page.php" style="margin-left: 350px; margin-right: 450px; margin-top: 30px;">
  <div class="container">
    <h1>Form Pendaftaran Tambah Beasiswa Dari Paket</h1>
    <p>Please fill in this form to Tambah Beasiswa Dari Paket.</p>
    <span style="color: red">*Required</span>
    <hr>

    <label for="kode"><b>Kode<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Kode" name="kode" required>

    <label for="nomor_urut_beasiswa"><b>Nomor Urut<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Nomor Urut" name="nomor_urut_beasiswa" required>

    <label for="tanggal_mulai_daftar"><b>Tanggal Mulai Pendaftaran<span style="color: red"> *</span></b></label>
    <input type="date" placeholder="Enter Tanggal Mulai Pendaftaran" name="tanggal_mulai_daftar" required>

    <label for="tanggal_tutup_daftar"><b>Tanggal Tutup Pendaftaran<span style="color: red"> *</span></b></label>
    <input type="date" placeholder="Enter Tanggal Tutup Pendaftaran" name="tanggal_tutup_daftar" required>

    <div class="clearfix">
      <button type="submit" class="signupbtn btn-primary">SUBMIT</button>
    </div>
 </div>

</form>

{% endblock %}
