{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
  
</head>

<body>

    <div class="py-5 text-center" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-3 mb-4 text-primary">SIMBION</h1>
            <p class="lead mb-5">SIMBION adalah Sistem Informasi Beasiswa Online untuk memudahkan mahasiswa mencari dan mendaftar beasiswa. SIMBION juga membantu para Donatur untuk mendaftarkan beasiswa.</p>
          </div>
        </div>
      </div>
    </div>
    {%for i in Skema_Beasiswa%}
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <h1 class="">{{i.1}}</h1>
              <p class="lead">{{i.2}} dibuat oleh {{i.4}}
                <br>
                <br>Deskripsi Beasiswa : {{i.3}}
                {%for j in Syarat_Beasiswa%}
                <br>Syarat Beasiswa : {{j.1}}
                {%endfor%}
              </p>
              <a class="btn btn-primary" href="/daftarcalon/">Daftar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}

</body>

</html>

{% endblock %}