{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/yayasan.css' %}">
	<title>Register Donatur</title>
</head>

<body>
<div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card" style="background-color: #F4FFFD; border: none;">
            <div class="card-body">
                <h1>Register as Donatur Yayasan</h1>
                <p>Please fill in this form to create an account as Donatur Yayasan.</p>
                <span style="color: red">*Required</span>
                <hr>
                
                <form method="POST" action="{% url 'registeryayasan:register_yayasan' %}">
                  
                    <label for="{{ form_regyys.username.id_for_label }}">{{form_regyys.username.label}}<span style="color:red">*</span></label>
                    {{form_regyys.username}}

                   <label for="{{ form_regyys.password.id_for_label }}">{{form_regyys.password.label}}<span style="color:red">*</span></label>
                    {{form_regyys.password}}

                    <label for="{{ form_regyys.no_identitas.id_for_label }}">{{form_regyys.no_identitas.label}}<span style="color:red">*</span></label>
                    {{form_regyys.no_identitas}}

                     <label for="{{ form_regyys.no_sk_yayasan.id_for_label }}">{{form_regyys.no_sk_yayasan.label}}<span style="color:red">*</span></label>
                    {{form_regyys.no_sk_yayasan}}

                     <label for="{{ form_regyys.email.id_for_label }}">{{form_regyys.email.label}}<span style="color:red">*</span></label>
                    {{form_regyys.email}}

                     <label for="{{ form_regyys.nama.id_for_label }}">{{form_regyys.nama.label}}<span style="color:red">*</span></label>
                    {{form_regyys.nama}}

                     <label for="{{ form_regyys.no_telp.id_for_label }}">{{form_regyys.no_telp.label}}</span></label>
                    {{form_regyys.no_telp}}

                     <label for="{{ form_regyys.npwp.id_for_label }}">{{form_regyys.npwp.label}}<span style="color:red">*</span></label>
                    {{form_regyys.npwp}}

                     <label for="{{ form_regyys.alamat.id_for_label }}">{{form_regyys.alamat.label}}<span style="color:red">*</span></label>
                    {{form_regyys.alamat}}


                    <div class="clearfix">
                      <button type="submit" class="signupbtn btn-primary">CREATE ACCOUNT</button>
                    </div>
                 

                     <div class="container" style="margin-bottom: 50px;" >
                    	<span style="float: right;">Already have an account?
                    	   <a class="btn navbar-btn ml-2 text-white btn-secondary" href='/login/'>
                    	   <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Login</a>
                    	</span>
                     </div>
                </form>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
</body>

</html>
{% endblock %}
