{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"> </head>

<body>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
          <div class="card" style="background-color: #F4FFFD; border: none;">
            <div class="card-body">
              <h1>Login</h1>
              <hr>
              <form method="POST" action="{% url 'login:login-simbion' %}">
                {% csrf_token %}
                 <div class="form-group">
                    <label for="{{ form_login.username.id_for_label }}">{{form_login.username.label}}</label>
                    {{form_login.username}}
                  </div>
                <div class="form-group">
                  <label for="{{ form_login.password.id_for_label }}">{{form_login.password.label}}</label>
                  {{form_login.password}}
                </div>

                <button class="btn btn-primary" type="submit" style="width: 100%;"><b>LOGIN</b></button>
              
              <div class="container">
             	 <span style="float: right;">New to Simbion?
				    <div class="btn-group psw">
					  <button type="button" style="background-color: #3E517A;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Register
					  </button>
					  <div class="dropdown-menu">
					    <a class="dropdown-item" href="/registermahasiswa/">Mahasiwa</a>
					    <a class="dropdown-item" href="/registerdonatur/">Donatur</a>
					  </div>
					</div>
				</span>
			</div>
			</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>

{% endblock %}