{% extends "base.html" %}

<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS dependencies -->
  <link rel="stylesheet" href="theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Script: Animated entrance -->
  <script src="https://d33wubrfki0l68.cloudfront.net/js/fe6311b3c294cba469a3939f21603640522c41e5/aquamarine/js/animate-in.js"></script>
</head><body class="text-center">
   <div class="py-5 bg-primary"><div class="container"><div class="row"><div class="col-md-12" style=""><div class="col-md-12" style="">

    <h1> Beasiswa </h1>
    <h1 style="">Beasiswa {{dataBeasiswa.0}}</h1>
  </div></div></div></div></div>
  <div class="py-5"><div class="container"><div class="row"><div class="col-md-12" style=""><table class="table" style="">
      <thead>
        <tr>

      {% for pendaftar in arrPendaftar %}

      <div class="row my-2 py-1">
        <div class="d-flex col-md-12">
          <div class="d-flex">
            <div class="center-wrapper w-100 m-2" align="center">
              <p class="H1">&nbsp;No. {{pendaftar.0}}</p>
              <br> </div>
          </div>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{pendaftar.1}}</h5>
            </div>
            <p class="mb-1">NPM. {{pendaftar.2}}</p>
            <small class="text-muted">Waktu Daftar: {{pendaftar.3}}</small>
            <br>
            <small class="text-muted">Status Penerimaan: {{pendaftar.4}}</small>
          </a>
          <div class="d-flex">
            <div class="center-wrapper w-100 m-2" align="center">
              <a class="btn btn-secondary my-3" href="{% url 'donaturDashboard:terima' pendaftar.0 dataBeasiswa.2 pendaftar.2 %}">Terima</a>
              </div>
              <br>
          </div>
          <div class="d-flex">
            <div class="center-wrapper w-100 m-2" align="center">
              <a class="btn my-3 btn-primary" href="{% url 'donaturDashboard:tolak' pendaftar.0 dataBeasiswa.2 pendaftar.2 %}">Tolak</a>
              <br> </div>
          </div>
        </div>
      </div>

      {% endfor %}

   </table></div></div></div></div></body></html>
