{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/individu.css' %}">
	<title>Register Donatur</title>
</head>

<body>
 <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card" style="background-color: #F4FFFD; border: none;">
            <div class="card-body">
                <h1>Register as Donatur Individu</h1>
                <p>Please fill in this form to create an account as Donatur Individu.</p>
                <span style="color: red">*Required</span>
                <hr>
                <form method="POST" action="{% url 'registerindividu:register_individu' %}">
                    
                    <label for="{{ form_regind.username.id_for_label }}">{{form_regind.username.label}}<span style="color:red">*</span></label>
                    {{form_regind.username}}

                    <label for="{{ form_regind.password.id_for_label }}">{{form_regind.password.label}}<span style="color:red">*</span></label>
                    {{form_regind.password}}

                    <label for="{{ form_regind.no_identitas.id_for_label }}">{{form_regind.no_identitas.label}}<span style="color:red">*</span></label>
                    {{form_regind.no_identitas}}

                     <label for="{{ form_regind.nik.id_for_label }}">{{form_regind.nik.label}}<span style="color:red">*</span></label>
                    {{form_regind.nik}}

                     <label for="{{ form_regind.email.id_for_label }}">{{form_regind.email.label}}<span style="color:red">*</span></label>
                    {{form_regind.email}}

                     <label for="{{ form_regind.nama.id_for_label }}">{{form_regind.nama.label}}<span style="color:red">*</span></label>
                    {{form_regind.nama}}

                    <label for="{{ form_regind.npwp.id_for_label }}">{{form_regind.npwp.label}}<span style="color:red">*</span></label>
                    {{form_regind.npwp}}

                     <label for="{{ form_regind.no_telp.id_for_label }}">{{form_regind.no_telp.label}}</span></label>
                    {{form_regind.no_telp}}

                     <label for="{{ form_regind.alamat.id_for_label }}">{{form_regind.alamat.label}}<span style="color:red">*</span></label>
                    {{form_regind.alamat}}

                    <div class="clearfix">
                      <button type="submit" class="signupbtn btn-primary">CREATE ACCOUNT</button>
                    </div>

                     <div class="container" style="margin-bottom: 50px;" >
                    	<span style="float: right;">Already have an account?
                    	   <a class="btn navbar-btn ml-2 text-white btn-secondary" href='/login/'>
                    	   <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Login</a>
                    	</span>
                     </div>

                </form>

            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
                

</body>

</html>

{% endblock %}
